In [2]:
# 변수 만들기 + 데이터 저장
a = 10      # 정수형
b = 11.11   # 부동소수점형
c = 'hello' # 문자형
d = True    # Boolean : True / False
e = None    # 존재하지 않는 값

In [ ]:
# 변수에 저장된 값 읽기
print(a) # a 변수에 저장된 값 읽기 + 출력(print)
print(b)
print(c)
print(d)
print(e)

10
11.11
hello
True
None

In [ ]:
# 각 변수의 자료형 확인
print(type(a)) # type은 변수 또는 데이터의 자료형을 확인하는 명령(함수)
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
a = 3 # a는 3이 저장된 변수 (객체)
b = 3 # b는 3이 저장된 변수 (객체)

print( a == b ) # a와 b가 같은지 비교
print( a is b ) # a와 b가 같은지 비교

True
True

In [ ]:
# 한 번에 여러 개의 값을 여러 변수에 저장

a, b, c = 100, 123.456, 'hello'
# a, b, c = 100, 123.456, 'hello', True # 오류 :  변수의 갯수와 값의 갯수가 같아야 합니다.

a, b, c # 노트북에서 마지막 실행문은 출력문 ( print를 쓰지 않아도 출력됨 )

(100, 123.456, 'hello')

In [13]:
# 변수 제거

a = 10
print (a)
del a       # 변수 제거
# print (a)   # 오류: 제거된 변수는 사용할 수 없습니다.

10

In [16]:
# 16진수 표현

a = 0xFF
b = 0x1F
print(a, b)

# 지수표기법
c = 4.24E10
d = 4.24E2
print(c, d)

255 31
42400000000.0 424.0

In [ ]:
a = 11.11
b = 100
c = "12.12"
d = "200"

print(int(a), int(d))
print(b, float(b), float(c))

print('10' + '10') # 문자열이기 때문에 연결
print(int('10') + int('10')) # 숫자로 변경되었기 때문에 정수 연산

11 200
100 100.0 12.12
1010
20

In [ ]:
# 문자열 연산

greetings = "hello, " + 'John Doe'
print(greetings)

iter = 'hello' * 5 # 문자열의 곱은 반복
print(iter)

hello, John Doe
hellohellohellohellohello

In [ ]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a[3], a[0], a[12], a[-1]

('e', 'L', 's', 'n')

In [ ]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"

print( a[12:17] )
print( a[:] )

short
Life is too short, You need Python

In [ ]:
print( len(a) ) # len : 문자갯수 반환
print(a[0:len(a)])

34
Life is too short, You need Python