In [14]:
# 리스트 만들기

l = [] # list()
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l3 = [10, 20, 30, [40, 50, 60], 70, 80, 90] # 리스트 내부의 리스트는 1개의 데이터로 처리

In [15]:
# list indexing 

print( l2[5] )
print( l2[-3] )
print( l3[4])       # [40, 50, 60]은 한 개의 데이터로 처리 되기 때문에 70이 출력됨
print( l3[3][1])

6
8
70
50

In [16]:
# list slicing

print( l2[3:7] )
print( l2[3:] )
print( l2[:7] )

[4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]

In [17]:
# 리스트 연산

print( l2 + l3 ) # 두 리스트의 합은 두 리스트를 결합한 새 리스트 생성

print( l2 * 2 ) # 리스트와 스칼라 값의 곱은 리스트의 반복

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 20, 30, [40, 50, 60], 70, 80, 90]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# 리스트 값 변경

l4 = l2.copy() # l2를 복사해서 l4 만들기

print( l4 )

l4[5] = 100 # 단일 값 변경
print( l4 )

l4[6:8] = [10, 20, 30, 40, 50] # 다중 값 변경 : [7, 8]을 [10, 20, 30, 40, 50]으로 변경
print( l4 )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 10, 20, 30, 40, 50, 9, 10]

In [ ]:
# 리스트의 요소 제거 (삭제)
l5 = l2.copy()

del l5[5] # 5번 위치의 데이터 삭제
print(l5)

l5[3:5] = [] # 3, 4번 위치의 데이터 삭제
print(l5)

[1, 2, 3, 4, 5, 7, 8, 9, 10]
[1, 2, 3, 7, 8, 9, 10]

In [35]:
a = [1, 2, 3]
a.append(4) # 목록 뒤에 값 추가
print( a )

a.insert(1, 10) # 1번째 위치에 10 추가
print(a)

# a.sort() # 리스트를 오름차순 정렬
a.sort(reverse=True) # 리스트를 내림차순 정렬
print(a)

a.reverse() # 리스트 요소의 위치를 역순으로 변경
print(a)

a.remove(3)
print(a)

print(a + [9, 8, 7]) # a에는 변화가 없습니다. (적용된 새로운 리스트 생성)

a.extend([9, 8, 7]) # a를 변경합니다. (결과가 a에 적용됨)
print(a)

[1, 2, 3, 4]
[1, 10, 2, 3, 4]
[10, 4, 3, 2, 1]
[1, 2, 3, 4, 10]
[1, 2, 4, 10]
[1, 2, 4, 10, 9, 8, 7]
[1, 2, 4, 10, 9, 8, 7]

In [ ]:
1 * (3 + 10)

In [ ]:
# 튜플 만들기

t1 = () # 요소가 없는 튜플 만들기
print(t1, type(t1))

# t2 = (1) # 이 괄호는 연산자 우선순위로 해석
t2 = (1, ) # 이 괄호는 튜플로 해석
print(t2, type(t2))

t3 = (1, 2, 3)
print(t3, type(t3))

() <class 'tuple'>
(1,) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [42]:
# 튜플은 읽기 전용

t4 = (1, 2, 3, 4, 5)

# del t4[0] # 오류 : 튜플의 값 삭제 불가
# t4[1] = 100 # 오류 : 튜플의 값 변경 불가

In [48]:
t5 = (1, 2, 3, 4, 5)
l6 = list(t5) # tuple -> list로 변경
t6 = tuple(l6) # list -> tuple로 변경

print( type(t5), type(l6), type(t6) )
print(l6, t6)

<class 'tuple'> <class 'list'> <class 'tuple'>
[1, 2, 3, 4, 5] (1, 2, 3, 4, 5)

In [53]:
# 딕셔너리 만들기

d1 = {}
d2 = { 'name': 'John Doe', 'email': "johndoe@example.com", 'age': 32 }

print(type(d1), type(d2))
print(d1, d2)

# 딕셔너리에 값 추가
d2['phone'] = '010-6598-2231'
print(d2)

# 딕셔너리의 값 변경
d2['email'] = "johndoe@human.com"
print(d2)

# 딕셔너리에 값 추가 or 기존 값 변경
d2.update( { 'name': "Jane Doe", "email": "janedoe@human.com", 'gender': 'female'} )
print(d2)

<class 'dict'> <class 'dict'>
{} {'name': 'John Doe', 'email': 'johndoe@example.com', 'age': 32}
{'name': 'John Doe', 'email': 'johndoe@example.com', 'age': 32, 'phone': '010-6598-2231'}
{'name': 'John Doe', 'email': 'johndoe@human.com', 'age': 32, 'phone': '010-6598-2231'}
{'name': 'Jane Doe', 'email': 'janedoe@human.com', 'age': 32, 'phone': '010-6598-2231', 'gender': 'female'}